<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/assets/icon/favicon.ico" th:href="@{assets/icon/hp.ico}">

  <title>Kevin's blog</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/assets/css/bootstrap.min.css" th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="../static/assets/css/blog.css" th:href="@{assets/css/blog.css}" rel="stylesheet">
  <link href="../static/assets/css/myCSS.css" th:href="@{assets/css/myCSS.css}" rel="stylesheet"/>
  <script src="../static/assets/plugins/ckeditor.js" th:src="@{assets/plugins/tinymce.min.js}"></script>

  <style>
    blockquote{
      border-left: 2px solid #ccc;
      margin-left: 1.5rem;
      padding-left: 1rem;
    }
  </style>

</head>

<body>

<div class="container">
  <header th:replace="~{fragments :: header}"></header>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-10 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title" th:text="${article.title}">blog post</h2>
        <p class="blog-post-meta" th:text="${article.createTime}">January 1, 2014 by</p>
        <div class="font-italic myFont" th:utext="${article.foreword}">
          foreword of blog
        </div>
        <hr/>
        <div class="myFont" th:utext="${article.content}">
          content of blog
        </div>
      </div>

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

  </div><!-- /.row -->

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/assets/js/jquery-3.3.1.min.js" th:src="@{assets/js/jquery-3.3.1.min.js}"></script>
<script src="../static/assets/js/vendor/popper.min.js" th:src="@{assets/js/vendor/popper.min.js}"></script>
<script src="../static/assets/js/bootstrap.min.js" th:src="@{assets/js/bootstrap.min.js}"></script>
<script src="../static/assets/js/vendor/holder.min.js" th:src="@{assets/js/vendor/holder.min.js}"></script>
<script src="../static/assets/js/myJS.js" th:src="@{assets/js/myJS.js}"></script>
<script>
  Holder.addTheme('thumb', {
    bg: '#55595c',
    fg: '#eceeef',
    text: 'Thumbnail'
  });
</script>
</body>
</html>
